/* global */
/* tags globais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* keyframes */
@font-face {
  font-family: "font-primaria";

  src: local(arial),
    url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}
@keyframes bloco-header {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(100%);
  }
}

body {
  font-family: font-primaria;
  background-color: white;
}

header {
  background-color: white;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  box-shadow: 1rem 1.2rem 1.2rem 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: center;

  gap: 2rem;
}
nav {
  display: flex;
  align-self: stretch;
  justify-content: stretch;
}
h1 {
  color: white;
  font-weight: 900;
  font-size: 5rem;
}

.imagem-header {
  background-image: url(./img/images.jpg);
  background-size: cover;
  width: 4rem;
  height: 3.9rem;
  opacity: 1.5;
  filter: contrast(1000%);
}
.contanier-header {
  display: flex;
  align-items: end;
  gap: 1rem;
}
.contanier-header p {
  font-size: 3rem;
  text-transform: uppercase;
  color: #ff4500;
  letter-spacing: 0.2rem;
  font-weight: 800;
  filter: contrast(1000%);
}
/* global, lista-header */
.contanier-li::after {
  content: "\2bc6";
  padding: 0.5rem;
  align-self: center;
  position: relative;
}
.contanier-li ul {
  display: none;
}
.lista-header a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #112e61;
  text-decoration: none;
  font-weight: 500;
}

.lista-header {
  list-style: none;

  display: flex;
  display: 1;
  width: 33%;
  align-items: center;
  position: relative;
}
.lista-header a:hover,
.lista-header a:active {
  display: flex;
  color: white;
  background-color: #ff4500;
  align-self: stretch;
  width: 8rem;
  justify-content: center;
}

.contanier-li:hover ul {
  display: block;
  position: absolute;
  left: 10%;
  top: 10%;

  transform: translate(0.1rem, 7rem);

  padding: 2rem;
  background-color: white;

  box-shadow: inset 0rem 0rem 1.2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.transition-ancora-header {
  position: relative;
  transition: color 1s;
  width: 100px;
  color: black !important;
}

.transition-ancora-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0%;
  left: 0;

  background-color: #ff4500;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear;
}
.transition-ancora-header:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: right;
}

ul .transition-ancora-header:hover {
  visibility: visible;
  width: max-content;
  padding: 0.5rem;
  transition-timing-function: linear;
  background: none;
  transition: color 0.5s;
  padding-bottom: 0;
  color: #ff4500 !important;

  /* background-color: black;
  color: red; */
}
.bloco-registro {
  background-color: #ff4500;
  padding: 1.1rem 1.5rem;
  color: white;
  font-weight: 400;
}
.bloco-registro:hover,
.bloco-registro:active {
  background-image: linear-gradient(90deg, #150601, #ff4500);
}
/* main section 1 */
/* global section logistica */
.section-safe-faster {
  height: 25vmax;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 9, 0.9),
      rgba(19, 19, 1, 0.189)
    ),
    url(https://img.freepik.com/fotos-gratis/porto-de-navegacao-movimentado-com-comercio-de-contentores-em-acao_91128-4581.jpg?w=1380&t=st=1719345705~exp=1719346305~hmac=96c86e366153114bb031fffa1a64a96b0afe6d36030ae07be91d811ede50d02e);
  background-size: cover;
  backdrop-filter: black;
  background-position-y: 40%;
}
.contanier {
  height: 100%;
  justify-content: center;
  border: solid 2px black;
  margin: 0vw 5vw;
  padding: 10%;
}
.contanier-safe-faster {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  width: max-content;
  border: none;
}
.h1-p-safe-faster {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}
/* section logistica */
.first-paragraph-main {
  color: #ff4500;
  font-weight: 900;
  font-size: 3.5rem;
}
.form-safe-faster {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.input-form-safe-faster {
  width: 70%;
  font-size: 2rem;
  height: 35px;
  padding: 2rem;
}
.input-form-safe-faster:focus {
  outline: none;
}
.paragraph-safe-faster {
  list-style: none;
  text-decoration: none;
  width: max-content;
  background-color: #ff4500;
  padding: 1.06rem;
}
.ancora-safe-faster {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
.ancora-safe-faster:hover,
.ancora-safe-faster:active {
  color: black;
}
/* section 2, pedidos */
.second-section{
padding-top: 2rem;
height: 25vw;
  
}
.contanier-second-section{
  background-color: #f3f4f6;
  margin-left: 0;
  margin-right: 0;
 border: none;


}
.the-first-bloco-second-section{
  
}
