/* global */
/* tags globais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* keyframes */
@font-face {
  font-family: "font-primaria";

  src: local(arial),
    url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}
@keyframes bloco-header {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(100%);
  }
}

body {
  font-family: font-primaria;
  background-color: white;
}
footer {
  background-color: white;
  width: 100%;
  height: max-content;
  border: solid 2px black;
}

header {
  background-color: white;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  box-shadow: 1rem 1.2rem 1.2rem 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  display: flex;
  justify-content: center;

  gap: 2rem;
}
nav {
  display: flex;
  align-self: stretch;
  justify-content: stretch;
}
h1 {
  color: white;
  font-weight: 900;
  font-size: 5rem;
}
h2 {
  font: 900;
  font-size: 3rem;
}
h3 {
  text-transform: capitalize;
}

.imagem-header {
  background-image: url(./img/images.jpg);
  background-size: cover;
  width: 4rem;
  height: 3.9rem;
  opacity: 1.5;
  filter: contrast(1000%);
}
.contanier-header {
  display: flex;
  align-items: end;
  gap: 1rem;
}
.contanier-header p {
  font-size: 3rem;
  text-transform: uppercase;
  color: #ff4500;
  letter-spacing: 0.2rem;
  font-weight: 800;
  filter: contrast(1000%);
}
/* global, lista-header */
.contanier-li::after {
  content: "\2bc6";
  padding: 0.5rem;
  align-self: center;
  position: relative;
}
.contanier-li ul {
  display: none;
}
.lista-header a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #112e61;
  text-decoration: none;
  font-weight: 500;
}

.lista-header {
  list-style: none;

  display: flex;
  display: 1;
  width: 33%;
  align-items: center;
  position: relative;
}
.lista-header a:hover,
.lista-header a:active {
  display: flex;
  color: white;
  background-color: #ff4500;
  align-self: stretch;
  width: 8rem;
  justify-content: center;
}

.contanier-li:hover ul {
  display: block;
  position: absolute;
  left: 10%;
  top: 10%;

  transform: translate(0.1rem, 7rem);

  padding: 2rem;
  background-color: white;

  box-shadow: inset 0rem 0rem 1.2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.transition-ancora-header {
  position: relative;
  transition: color 1s;
  width: 100px;
  color: black !important;
}

.transition-ancora-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0%;
  left: 0;

  background-color: #ff4500;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear;
}
.transition-ancora-header:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: right;
}

ul .transition-ancora-header:hover {
  visibility: visible;
  width: max-content;
  padding: 0.5rem;
  transition-timing-function: linear;
  background: none;
  transition: color 0.5s;
  padding-bottom: 0;
  color: #ff4500 !important;

  /* background-color: black;
  color: red; */
}
.bloco-registro {
  background-color: #ff4500;
  padding: 1.1rem 1.5rem;
  color: white;
  font-weight: 400;
}
.bloco-registro:hover,
.bloco-registro:active {
  background-image: linear-gradient(90deg, #150601, #ff4500);
}
/* main section 1 */
/* global section logistica */
.section-safe-faster {
  height: 25vmax;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 9, 0.9),
      rgba(19, 19, 1, 0.189)
    ),
    url(https://img.freepik.com/fotos-gratis/porto-de-navegacao-movimentado-com-comercio-de-contentores-em-acao_91128-4581.jpg?w=1380&t=st=1719345705~exp=1719346305~hmac=96c86e366153114bb031fffa1a64a96b0afe6d36030ae07be91d811ede50d02e);
  background-size: cover;
  backdrop-filter: black;
  background-position-y: 40%;
}
.contanier {
  height: 100%;
  justify-content: center;
  border: solid 2px black;
  margin: 0vw 5vw;
  padding: 10%;
}
.contanier-safe-faster {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  width: max-content;
  border: none;
}
.h1-p-safe-faster {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}
/* section logistica */

.first-paragraph-main {
  color: #ff4500;
  font-weight: 900;
  font-size: 3.5rem;
}
.form-safe-faster {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.input-form-safe-faster {
  width: 70%;
  font-size: 2rem;
  height: 35px;
  padding: 2rem;
}
.input-form-safe-faster:focus {
  outline: none;
}
.block-h2-section-2 {
  display: flex;
  flex-flow: column;
  gap: 0.6rem;
}
.paragraph-safe-faster,
.list-third-section:last-child {
  list-style: none;
  text-decoration: none;
  width: max-content;
  background-color: #ff4500;
  padding: 1.06rem;
}
.ancora-safe-faster {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
.ancora-safe-faster:hover,
.ancora-safe-faster:active {
  color: black;
}
/* section 2, pedidos */
.second-section {
  padding-top: 2rem;
  height: 23vw;
  margin: 0;
}
.contanier-second-section {
  background-color: #f3f4f6;
  margin-left: 0;
  margin-right: 0;
  border: none;

  display: flex;

  height: max-content;
  padding: 0;

  align-items: center;
  gap: 3rem;
}
.the-first-bloco-second-section {
  width: 40vw;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 2rem;
}

.form-get-a-quote {
  width: max-content;
  display: flex;
  flex-flow: column;

  height: 100%;
  padding: 6rem;
  gap: 1rem;
  background-color: #ff4500;
}
.second-paragraph {
  font-size: 1.3rem;
}
.section-get-a-quote-second {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.section-get-a-quote-second div p {
  font-weight: 900;
  font-size: 1.68rem;
}
.h3-second-section {
  display: flex;
  flex-flow: column;
  gap: 0.2rem;
}
.section-get-a-quote-one p {
  font-weight: 700;
  font-size: 1.2rem;
}
.section-get-a-quote-one {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  height: 100%;
}
.input-get-a {
  padding: 1rem 2rem;
  text-align: start;
}
.input-get-a:nth-child(4) {
  background-color: #545454;
  color: white;
  text-align: center;
}
.input-get-a:focus {
  outline: none;
}
.input-get-a:nth-child(4) span {
  position: relative;
}

.input-get-a:nth-child(4) span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 0.2rem;
  right: 0;

  visibility: hidden;
  transform: scaleX(0);
  transition: all 1s;
}
.input-get-a:nth-child(4) span:hover:before {
  background-image: linear-gradient(90deg, #150601, #ff4500);
  right: 0;
  transform-origin: left;

  visibility: visible;

  transform: scaleX(1);
  transition: all 1s ease-in-out;
}
.input-get-a:nth-child(4):hover {
  background-color: white;
  color: black;
}
/* third section */
.contanier-third-setion {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  border: none;
  padding-top: 0;
}
.contanier-third-setion:nth-child(1) {
  padding-bottom: 6rem;
}
.h2-third-section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: center;
}
.global-one {
  display: flex;
  gap: 2rem;
}

.contanier-third-setion h2 {
  font-size: 3.2rem;
  font-weight: 900;
  text-transform: capitalize;
}
.contanier-third-setion ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.div-third-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
  width: max-content;
  margin: 0;
  background-color: #5454542c;
  border: none;
}

.paragraph-third-section {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.cifra {
  opacity: 0.5;
  font-size: 1.3rem;
  position: relative;
  top: -1.8rem;
  right: -1rem;
}
.span-thrid-section {
  position: relative;
  font-size: 1rem;
  text-transform: capitalize;
  right: 1.1rem;
}

.strong-div-third-section {
  font-size: 4rem;
  padding: 1rem 8rem;
}
.paragraph-third-section-div {
  background-color: orangered;
  color: black;
  text-align: center;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 900;
  align-self: stretch;
  margin-bottom: 2.5rem;
}
.list-third-section {
  list-style: none;
  opacity: 1;
  color: #545454;
  text-transform: uppercase;
  position: relative;
}

.list-third-section:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 0.2rem;
  opacity: 0.6;
  visibility: hidden;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 1s ease-in;
}
.list-third-section:nth-child(1):hover:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: #ff4700;
  height: 0.1rem;
  transform-origin: left;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.list-third-section:nth-child(1):hover {
  color: #ff4700;
  transition: color 1s;
}
.list-third-section:nth-child(2):hover:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: red;
  height: 0.1rem;
  transform-origin: left;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.list-third-section:nth-child(2):hover {
  color: red;
  font-weight: 900;
  transition: color 1s;
}
.list-third-section:nth-child(3):hover:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: blue;
  height: 0.1rem;
  transform-origin: left;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.list-third-section:nth-child(3):hover {
  color: yellow;
  font-weight: 400;
  opacity: 0.8;
  transition: color 0.4s;
}
.list-third-section:nth-child(4):hover:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: #0000b4;
  height: 0.1rem;
  transform-origin: left;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.list-third-section:nth-child(4):hover {
  color: #0100ff;
  font-weight: 700;
  transition: color 0.2s;
}
.list-third-section:last-child {
  text-transform: capitalize;
  color: white;
}
.list-third-section:last-child {
  padding: 0.8rem 1.5rem;
}
.background-imagem-third-section {
  background-image: url(https://media-for1-1.cdn.whatsapp.net/v/t61.24694-24/380070677_955223002832054_660112314357167776_n.jpg?ccb=11-4&oh=01_Q5AaIGJ-G0QPC2TsZLUWC9xklrAPVypGfCiSLU2PCehc3BFU&oe=6683408C&_nc_sid=e6ed6c&_nc_cat=109);

  background-size: cover;

  background-position-y: -0.5rem;

  width: 100%;
  height: 78%;
}
.div-second-section {
  display: flex;
  gap: 1.2rem;

  height: 14vw;
  width: 12vw;
  border-bottom: solid 2px #ff4700;
}
.h2-modificado {
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.imagem2 {
  background-image: url(./img/pedro.jfif);

  background-position-y: -8rem;
}
.image3 {
  background-image: url(./img/foto-samuel.jfif);
  background-position-y: -8rem;
  background-position-x: 1rem;
}
.imagem4 {
  background-image: url(./img/foto-zécolmeia.jfif);
}
.background-imagem-third-section-2 {
  background-image: url(https://www.techlise.com.br/blog/wp-content/uploads/2023/04/arte-blog-1.png);
  background-size: 700px 600px;
  background-position-y: -8rem;
  background-position-x: -6rem;
  position: relative;

  background-repeat: no-repeat;
  width: 100%;
  height: 66%;
}
.teste2 {
  width: 33vw;
  height: 40vw;

  display: flex;
  flex-flow: column;
  gap: 1rem;
  background-color: #f4f5f7;
}
.paragraph-third-section-2 {
  padding: 1rem 1.5rem;
  background-color: #ff4500;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  flex: 1;
  align-items: center;

  transform: translateY(38%) translateX(-3rem);
}
.paragraph-third-section-2 p:nth-child(1) {
  font-size: 2rem;
  font-weight: 900;
}
.paragraph-third-section-2 p:nth-child(2n) {
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.paragraph-div-imagem {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 2rem;
}
.geral-paragraph-imagem {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;

  align-items: center;
}
.geral-paragraph-imagem p {
  opacity: 0.8;
}
.div-imagem-third-section-2 {
  background-image: url(./img/minha\ foto.jfif);

  background-size: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
/* .icon {
  background-image: url(https://www.svgrepo.com/show/19422/small-bookmark.svg);
  background-size: cover;
  fill: inherit;
  stroke: black;
  width: 1.5rem;
  height: 1.5rem;
  background-color: inherit;
  background-blend-mode: multiply; */
svg {
  fill: #f4f5f7;
  stroke: #ff4700;
}
.div-icon {
  gap: 0.5rem;
}
.second-box-third-section {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  gap: 1rem;
  font-size: 1.5rem;
  align-items: start;
}
.second-box-third-section a {
  text-transform: uppercase;
  color: #ff4700;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
}
.second-box-third-section a:before {
  content: "";
  visibility: visible;
  background-color: #ff4700;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  opacity: 1;
  width: 100%;

  height: 0.1rem;
  transition: all 1s ease-in;
}
.second-box-third-section a:hover,
.second-box-third-section a:active {
  color: black;
  font-weight: 900;
}
.second-box-third-section a:hover:before {
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  background-color: white;
  opacity: 0.4;
  transition: all 1s ease-in-out;
}
.background-imagem-third-section-2a {
  background-image: url(https://blog.xpeducacao.com.br/wp-content/uploads/2023/01/analise-de-dados-python.jpg);
}
